* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

main {
    flex-grow: 1;
    background-color: pink;
}

.galeria {
    height: 100%;
    width: 100%;
    background-color: tomato;
    display: flex;
}

.foto{
    border: 4px solid black;
    display: flex;
    object-fit: cover;
}

.galeria .foto {
    width: 25%;
    height: 100%;
    background-color: aqua;
}

.container-direita {
    flex-grow: 1;
    height: 100%;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
}

.container-superior {
    flex-grow: 1;
    background-color: lightblue;
    display: flex;
}

.container-superior .foto {
    background-color: blueviolet;
}

.container-superior-esquerda {
    flex-grow: 1;
    background-color: tomato;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-superior-esquerda .foto {
    width: 50%;
    height: 50%;
    background-color: blue;
}

.container-superior-esquerda .foto:nth-of-type(1){
    width: 100%;
}

.container > .foto {
    width: 25%;
    height: 100px;
}

.container-inferior {
    flex-grow: 1;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-inferior .foto {
    width: 37.5%;
    height: 50%;
    background-color: lightgreen;
}

.container-inferior .foto:nth-of-type(3) {
    height: 100%;
    width: 63.5%;
}

footer {
    height: 50px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-style: italic;
}